#ignore thumbnails created by windows
Thumbs.db

#ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll

#ignore auxiliar TeX files created by TeX
*~
*.aux
*.autosave
*.bbl
*.blg
*.brf
*.dvi
*.fdb_latexmk
*.fls
*.gz
*.idx
*.ind
*.ilg
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.ps
*.pdfsync
*.snm
*.syntex.gz
*.toc

#ignore my library.bib
library.bib

#ignore my phd-thesis.mm
phd-thesis.mm

#ignore files created by Mac OS X
*.DS_Store

#ignore files created by Sublime-Text 2 or 3
*.sublime-project
*.sublime-workspace